@import 'https://fonts.googleapis.com/css?family=Oswald';
body {
  background-color: #D5E8E6;
  font-family: 'Oswald', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #086E62;
  ul {
    display: flex;
    li {
      margin-right: 10px;
      margin-top: 15px;
      list-style-type: none;
    }
    a {
      text-decoration: none;
      color: #D5E8E6;
    }
  }
  img {
    width: 70%;
  }
}
header  {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-image: url(../img/header.jpg);
  background-position: center;
  margin-bottom: 10%;
  h1 {
    color: white;
  }
}
.wrapper {
  width: 50%;
  margin: 0 auto;
  .post-tile {
    position: relative;
    margin-top: 5%;
    h1 {
      position: absolute;
      width: 40%;
      top: 30%;
      left: 25%;
      font-size: 2em;
      color: black;
      text-align: center;
      background-color: transparentize(#D5E8E6, .3);
      padding: 20px;
    }
    a {
      text-decoration: none;
      letter-spacing: 2px;
    }
    img {
      width: 100%;

    }
    .author {
      display: flex;
      justify-content: space-between;
      padding: 0 70px;
      border-bottom: 1px solid grey;
    }
  }
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 100%;
      margin-bottom: 5%;
    }
    p {
      margin: 2px;
      &:nth-of-type(3) {
        margin-bottom: 5%;
      }
    }
  }
}
