nav {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  ul {
    display: flex;
    li {
      margin-right: 10px;
      list-style-type: none;
    }
  }
}
