<h1>Admin</h1>
<ul>
  {{#each model as |category|}}
  {{category-tile category=category}}
  <!-- {{update-category category=category update="update"}} -->

  {{/each}}
</ul>

{{new-category save2="save3"}}
