<nav>
  <p>
    logo
  </p>
  <ul>
    <li>{{#link-to 'about'}}About{{/link-to}}</li>
    <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    <li>{{#link-to 'admin'}}admin{{/link-to}}</li>
  </ul>
</nav>
<header>
  <h1>Gardenbox Blog</h1>
</header>
<div class="wrapper">
  {{outlet}}  
</div>
